@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --typewriterSpeed1: 1s;
  --typewriterSpeed: 3s;
  --typewriterCharacters: 24;
  --bg-color: #00040f;
}

* {
  scroll-behavior: smooth;
}


.type{
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  
  position: relative;
  width: max-content;
}

.type::before,
.type::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.type::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed1)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.type::after {
  width: 0.125em;
  background: rgb(0, 225, 255);
  animation: typewriter var(--typewriterSpeed1)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}


.type1{
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  
  position: relative;
  width: max-content;
}

.type1::before,
.type1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.type1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
     steps(var(--typewriterCharacters)) 3s forwards;
  
}
.type1::after {
  width: 0.125em;
  background: rgb(0, 225, 255);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 3s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite ;
}


.type2{
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  
  position: relative;
  width: max-content;
}

.type2::before,
.type2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.type2::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 6s forwards;
  
}
.type2::after {
  width: 0.125em;
  background: rgb(0, 225, 255);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 6s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite ;
}

.subtitle {
  color: rgba(219, 219, 219, 0.7);
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 6s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }

  100% {
    background: var(--bg-color);
  }
}

@keyframes blink {
  to {
    background: transparent;
    
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}






.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #c4c4c4c2 -278.56%,
    #7e7e7e88 -78.47%,
    #72727288 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient( #001618 0%, #066970 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.808);
  filter: blur(750px);
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count:  3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.gallery .pics:hover{
  filter: opacity(.5);
}

@media (max-width: 991px){
  .gallery{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count:  2;
    
  }
}

@media (max-width: 480px){
  .gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count:  1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.model{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000000;
   transition:opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
   visibility: hidden;
   opacity: 0;
   transform: scale(0);
   overflow: hidden;
   z-index: 999;
}

.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin:0 auto;
}

.close{
  position: fixed;
  top: 10px;
  right: 15px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
}

.button {
  margin: 0;
  margin-left: 50px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.952);
  --animation-color: #07e8f8;
  --fs-size: 1.1em;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Poppins";
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.spinner {
  width: 100px;
  height: 100px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
  margin-left: 300px;
  margin-top: 100px;
 }
 
 .spinner > div {
  background-color: rgba(0,77,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #09d5e4;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-50px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(50px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 }